@import "/static/css/base.css";

table {
    margin-left: 2em;
    margin-right: 2em;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #1b1714;
}

th,td {
    margin: 0.2em 1em;
    padding: 0.2em 0.5em;
    border: solid 2px #1b1714;
}

th {
    background-color: #ff6f00;
    color: #1b1714;
}

th>a, th>a:visited {
    color: #1b1714;
}

th.con_right {
    border-right: solid 0;
    margin-right: 0;
    padding-right: 0;
}

th.con_left {
    border-left: solid 0;
    margin-left: 0;
}

td.stateValid {
    background-color: #2e1b0e;
}

td.stateInvalid {
    background-color: #140f09;
}
